* {
  font-family: 'Lato', sans-serif;
  background-color: #101820FF;
    
}

/* NAVBAR */ 
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FEE715FF;
    padding: 10px; 


}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    color: #FEE715FF;
    text-decoration: none;
    font-size: 18px;
}

.nav-links li a:hover {
    text-decoration: underline;
}
/* Mobile first queries */
@media (min-width: 768px) {
    .navbar {
      flex-direction: row;
      justify-content: space-between;
      padding: 2%;
    }
    .nav-links {
      flex-direction: row;
      justify-content: flex-end;
    }
    .nav-links li {
      margin-right: 1vw;
    }
    .nav-links li a {
      font-size: 1.4em;

    }
  }
  

  @media (min-width: 1200px) {
    .navbar {
      flex-direction: row;
      justify-content: space-between;
    }
    .nav-links {
      flex-direction: row;
      justify-content: flex-end;
    }
    .nav-links li {
      margin-right: 40px;
    }
    .nav-links li a {
      font-size: 1.6em;
    }
  }

  /* FOOTER */ 
  
  .footer {
    width: 100%; 
    text-align: center; 
    padding: 30px 0;
    background-color: #101820FF;
    color: #FEE715FF;
    

 }

 .footer p {
  color: #FEE715FF;
  font-weight: 300;
 }


 .footer h4 {
  margin-bottom: 25px; 
  margin-top: 20px; 
  font-weight: 600;
  color: #FEE715FF;
  font-weight: 300;

}

.icons .fab {
  color: #FEE715FF;
  margin: 0 13px;
  cursor: pointer; 
  padding: 18px 0;
  opacity: 0.6;
  font-weight: 300;

}

/* HOME PAGE * 
/* text box on start page */
.text-box {
  width: 90%; 
  color:#FEE715FF;
  text-align: center;
  opacity: 0.8;
  display:block;
  margin:0 auto;
}

.text-box h1 {
  font-size: 52px;
  font-weight: 500;
}

.text-box p {
  margin: 0 0 39px; 
  font-size: 13px;
  color:#FEE715FF; 
  font-weight: 300;


}

/* button under text-box */


.bam {
  display: inline-block;
  text-decoration: none;
  color: #FEE715FF;
  border: 0.5px solid #FEE715FF;
  padding: 13px 35px;
  font-size: 12px;
  background: transparent;
  margin: 0 auto;
  width: 200px;
  cursor: pointer;
  display:block !important;
   text-align:center !important;
}

.bam:hover {
  border: 0.5px solid #FEE715FF;
  background: #FEE715FF;
  transition: 1s;
  color:black;
}

nav .fas {
  display: none; 
   
}

/* Mobile first queries */
@media (min-width: 768px) {
  .text-box {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  .text-box {
    width: 70%;
  }
}

@media (min-width: 500px) {
  .text-box {
    width: 90%;
  }
}



/* home page header */ 

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(13, 12, 32, 0.7),rgba(13, 12, 32, 0.7)), url("../images/headerphoto-alexander.jpg");
    background-position: center;
    background-size: cover;
    position: relative;

}

/* ABOUT PAGE */ 
.about {
  margin: 0 auto;
  width: 80%;
}

.about .text {
  padding-left: 20px;
  
}



.about img {
  width: 450px;
  height: 350px;
  border-radius: 0;
  display: block;
  float: left;
  margin: 0 10px 0 0;
}

.about h2 {
  font-size: 2.5em;
  text-align: center;
  font-weight: bold;
  color: #FEE715FF;
  
}

.about h5 {
  font-size: 1.5em;
  text-align: center;
  font-style: italic;
  color: #FEE715FF;
}

.about p {
  font-size: 0.9em;
  margin-top: 1em;
  text-indent: 25px;
  line-height: 1.5em;
  color: #FEE715FF;
  font-weight: 400;

}

.info a.bam {
  font-family: sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  color: #000000;
  background-color: #f2f2f2;
  padding: 10px 25px;
  text-decoration: none;
  display: block;
  margin: 20px auto;
  width: 200px;
  text-align: center;
}

#buttonmember {
  display: inline-block;
  text-decoration: none;
  color: #FEE715FF;
  border: 0.5px solid #FEE715FF;
  padding: 13px 35px;
  font-size: 12px;
  background: transparent;
  margin: 0 auto;
  cursor: pointer;
  text-align: center;
  display: block;
  width: 150px;
  margin: 0 auto;
}


