* {
    font-family: 'Lora', sans-serif;
    
}

/* NAVBAR */ 
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: #FECF48;
    padding: 10px; 


}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    color:#FECF48;
    text-decoration: none;
    font-size: 18px;
}

.nav-links li a:hover {
    text-decoration: underline;
}
/* Mobile first queries */
@media (min-width: 768px) {
    .navbar {
      flex-direction: row;
      justify-content: space-between;
      padding: 2%;
    }
    .nav-links {
      flex-direction: row;
      justify-content: flex-end;
    }
    .nav-links li {
      margin-right: 1vw;
    }
    .nav-links li a {
      font-size: 1.4em;

    }
  }
  
  @media (min-width: 1200px) {
    .navbar {
      flex-direction: row;
      justify-content: space-between;
    }
    .nav-links {
      flex-direction: row;
      justify-content: flex-end;
    }
    .nav-links li {
      margin-right: 40px;
    }
    .nav-links li a {
      font-size: 1.6em;
    }
  }
/* HOME PAGE * 
/* text box on start page */
.text-box {
  width: 90%; 
  color:#FECF48;
  text-align: center;
  opacity: 0.8;
  display:block;
  margin:0 auto;
}

.text-box h1 {
  font-size: 52px;
}

.text-box p {
  margin: 0 0 39px; 
  font-size: 13px;
  color: #FECF48;


}

/* button under text-box */
.bam {
  display: inline-block;
  text-decoration: none;
  color: #FECF48;
  border: 0.5px solid #FECF48;
  padding: 13px 35px;
  font-size: 12px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.bam:hover {
  border: 0.5px solid #EECF21;
  background: #EECF21;
  transition: 1s;
  color:black;
}

nav .fas {
  display: none; 
   
}

/* Mobile first queries */
@media (min-width: 768px) {
  .text-box {
    width: 80%;
  }
}

@media (min-width: 1200px) {
  .text-box {
    width: 70%;
  }
}

@media (min-width: 500px) {
  .text-box {
    width: 90%;
  }
}



/* home page header */ 

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(13, 12, 32, 0.7),rgba(13, 12, 32, 0.7)), url("../images/headerphoto-alexander.jpg");
    background-position: center;
    background-size: cover;
    position: relative;

}

